{% extends "header.html" %}

{% block content %}
{% block navbar %}
<div class="row" >
	<nav class="navbar navbar-default navbar-top " role="navigation">
	    <ul class="nav navbar-nav navbar-right col-md-2">
	      <li><a href="#">{{ user.first_name }}</a></li>
	      <li><a href="{% url 'logout' %}">Salir</a></li>
	    </ul>
	</nav> 
</div>
{% endblock navbar %}

<div class="row">
	<div class="col-md-2">
	{% block sidebar %}
		<ul id="sidebar" class="nav nav-pills nav-stacked" style="max-width: 260px;">
			<li id="home-tab">
				<a href="{% url 'home' %}" >
					<span class="badge pull-right">
						{{ vales_sin_observar }}
					</span>
					Vales
				</a>
			</li>
			<li id="agregar-tab">
				<a href="{% url 'agregar' %}" >
					<span class="badge pull-right">
						{{ vales_en_espera }}
					</span>
					Agregar Vale
				</a>
			</li>
			<li id="cambiar-estado-tab">
				<a href="{% url 'cambiar_estado' %}" >
					Estado Vales
				</a>
			</li>
		</ul>
	{% endblock sidebar %}
	</div>
	<div class="col-md-10" style="background-color:white;">
	{% block contentbody %}
	{% endblock contentbody %}
	</div>
</div>
{% endblock content %}

